/* Start CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  height: 100%;
  scroll-behavior: smooth;
}

html {
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* End CSS Reset */

/* Start Global Styles */

:root {
  /* Colors */
  --dark-purple: #5425af;
  --light-purple: #845eee;
  --dark-blue: #121826;
  --dark-gray-one: #212936;
  --dark-gray-two: #394150;
  --medium-gray: #4d5562;
  --light-gray-one: #a1a1a9;
  --light-gray-two: #d3cff3;
  --light-gray-three: #e5e7eb;

  /* Typography */
  --heading-size: 1.25rem;
  --tab-text-size: 0.875rem;
  --body-text-size: 1rem;
  --small-text-size: 0.75rem;
}

body {
  background-image: linear-gradient(
    45deg,
    hsl(251deg 49% 23%) 0%,
    hsl(249deg 47% 22%) 10%,
    hsl(247deg 45% 21%) 20%,
    hsl(245deg 43% 19%) 30%,
    hsl(243deg 40% 18%) 40%,
    hsl(242deg 37% 16%) 50%,
    hsl(236deg 38% 15%) 60%,
    hsl(231deg 40% 14%) 70%,
    hsl(227deg 40% 13%) 80%,
    hsl(224deg 39% 12%) 90%,
    hsl(222deg 36% 11%) 100%
  );
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 800px;
}

form {
  display: flex;
  background-color: var(--dark-gray-one);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--dark-gray-two);
  border-radius: 0.5rem;
}

.step {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.step.two,
.step.three {
  display: none;
}

h2 {
  color: var(--light-gray-three);
  font-size: var(--heading-size);
  font-weight: 400;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label {
  color: var(--light-gray-two);
  font-size: var(--tab-text-size);
  font-weight: 300;
}
